<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/estilos-inicio.css">
</head>
<body>
    <div class="div-todo">
        <div class="element1">
            <h2>¡Hola, José Carlos!</h2>            
        </div>
        <div class="element2">
            <button><img src="resources/css/images/usuario.png" alt=""></button>
        </div>
        <div class="element3">
            <button type="submit">Materias</button>
            <button type="submit">Biblioteca</button>
            <button type="submit">Calendario</button>                
            <button type="submit">Tareas</button>
            
        </div>
        <div class="element4">
            <form action="" class="form-box">
                <img src="resources/css/images/cerrDO.png" alt="">
                <h2>¡Bienvenido! selecciona una tarea o una materia para ver</h2>
            </form>
        </div>
    </div>
</body>
</html>