<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="resources/css/estilos.css">
    <link rel="shortcut icon" href="resources/css/images/logo.png" type="image/x-icon">
    
</head>
<body>    
    <form action="auth" method="POST" class="form-box">
        <h1 class="title">Inicia Sesion</h1>
        <input type="text" placeholder="Correo" name="user "id="user">
        <input type="password" name="password" id="password" placeholder="Contraseña">
        <button type="submit" onclick="login();">Iniciar Sesion</button>
        <p class="fuente">¿No tienes una cuenta? <a href="registro.html" class="link">Registrate</a> aquí</p>
        <div>
            <img src="resources/css/images/hi 2.png" alt="" class="imagen-login">
        </div>
    </form>
    

    <script src="./js/login.js"></script>
</body>
</html>