<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/verTareas.css">
    <title>Tareas</title>
</head>
<body class="body">
    <div class="container">
        <table class="table">
            <tr>          
              <td>Celda 1</td>          
              <td>Celda 2</td>          
              <td>Celda 3</td>          
            </tr>          
            <tr>          
              <td>Celda 4</td>          
              <td>Celda 5</td>          
              <td>Celda 6</td>          
            </tr>          
          </table>
          <iframe src="https://hora.mx/calendar" frameborder="0"></iframe>
    </div>
</body>
</html>